ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
  list-style: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-top: 0px;
}

.wrapper {
  background-color: black;
  background: url('./img/фон.jpg');
  width: 100%;
  height: 100%;
}

.container {
  width: 1124px;
  margin: 0 auto;
}



.header {
  min-height: 123.36px;
  position: relative;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 26px;
  left: 0; 
  width: 85px;
  height: 36px;
}

.menu {
  position: absolute;
  top: 40.36px;
  left: 164px;  
}

.menu__item {  
  display: inline-block;
  vertical-align: middle;

}

.menu__link {
  text-decoration: none;
  color: red;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-right: 53px;
  display: inline-block;
}

.contacts {
  position: absolute;
  right: 0;
}

.contacts__tel {
  display: block;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color: red;
  text-decoration: none;
}

.contacts__graph {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  color: red;
}

.preview {
  width: 511px;
}

.preview__title {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 98px;
  vertical-align: bottom;
  color: red;
  margin-bottom: 27.5px; 
}

.preview__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color:red;
  margin-bottom: 33.5px; 
}

.preview__button {
  width: 168px;
  height: 55px;
  background: #F5170E;
  border-radius: 35px;
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  border: none;
}


.features__title {
  font-family: Open Sans, sans-serif;
  font-style: normal; 
  font-weight: bold;
  font-size: 39px;
  line-height: 49px; 
  display: inline;
  color: red;
  margin-bottom: 51px;
}

.features__title::after {
  content: url(./img/flame.png);
  margin-left: 12px;
  margin-bottom: 51px;
}

.features__list {
  width: 1200px;
  height: 449px;
  left: 389px;
  top: 875px;
}

.features__item {
  display: inline-block;
  width: 362px;
  margin-right: 27px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__img {
  width: 362px;
  height: 144px;
  margin-bottom: 33px;
  margin-top: 51px;
}

.features__subtitle {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-left: 22px;
  margin-bottom: 21px;
}

.features__option {
  margin-left: 27px;
  display: inline-block; 
}

.features__option-img {
  margin-right: 7px;
  display: inline-block; 
}

.features__option-test {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px; 
  color: #666666; 
  display: inline-block; 
  margin-right: 34px;
  vertical-align: top;
}

 .features__text {
  margin-top: 19px;
  margin-left: 22px;
  margin-right: 16px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  width: 324px;
  align-items: center;
 }

 .features__button {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #F5170E;
  width: 135px;
  height: 55px;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  background-color:#FFFFFF;
  margin-left: 24px;
  margin-top: 10px;
  transition: .3s;
}

.features__button:hover {
  background-color: #F5170E;
  color: #FFFFFF;
}

.news {
  position: absolute;
  width: 1150px;
  left: 389px;
  top: 1451px;
}

.news__title {
  margin-top: 0px;
  margin-bottom: 51px;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 39px;
  line-height: 49px;
  display: flex;
  align-items: flex-end;
  color: red;
}

.news__list {
  display: inline-block;
}

.news__item {
  display: inline-block;
  width: 557px;
  vertical-align: top;
  position: relative;
  margin-right: 25px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 2;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  padding: 25px 30px;
  min-height: 140px;
}

.news__date-month {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 22px;
}

.news__date-year {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 12.5px;
}

.news__subtitle {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color:#FFFFFF;
  margin-bottom: 3.5px;
}

.news__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.paginator {
  display: inline-block;
  width: 700px;
  height: 53px;
  left: 382px;
  top: 544px;
  position: absolute;
}

.paginator__display {
  height: 32px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: black;
  display: inline-block;
  margin-right: 2px;
}


.paginator_display-current {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: black;
  display: inline-block;
  margin-right: 1px;
}

.paginator__dispaly-all {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: black;
  display: inline-block;
}

.paginator__list {
  display: inline-block;
  line-height: 32px;
}

.paginator__item {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.paginator__item:first-child {
  margin-left: 25px;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__link {
  display: block;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: black;
  margin: 5px 11px 5px 11px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.paginator__link:hover {
  background: red
}


.about {
  position: absolute;
  width: 1139px;
  height: 557px;
  left: 389px;
  top: 2020px;
  margin-top: 152.5px;
  margin-bottom: 53px;
  display: inline-block;
  vertical-align: top;
}

.about__img {
  display: inline-block;
  border-radius: 5px;
}

.about__contant-block{
  display: inline-block;
  vertical-align: top;
  width: 785px;
  height: 455px;
  margin-left: -140px;
  margin-top: 102px;
}

.about__background {
  display: inline-block;
}

.about__background:hover {
  border-radius: 5px;
}


.about__title {  
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-top: 70px;
  margin-left: 81px;
  margin-bottom: 37px;
  position: absolute;
  top: 99px;
  left: 353px;
}

.about__text p {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  color: #000000;
  margin-left: 81px;
  margin-right: 202px;
  margin-bottom: 43px;
  position: absolute;
  top: 253px;
  left: 353px;
}

.about__button {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 165px;
  height: 55px;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  background-color:#F5170E;
  margin-left: 81px;
  position: absolute;
  top: 432px;
  left: 353px;
}


.footer {
  height: 93px;
  width: 1142px;
  position: absolute;
  margin: 0 auto;
  top: 2826px;
  left: 390px;
  margin-bottom: 58px;
  display: inline-block;
}


.contacts__text {
  position: relative;
  top: -44px;
  left: 978px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-size: 11px;
  Line-height: 20px;
  vertical-align: middle;
}

.socials {
  position: absolute;
  top: 5px;
  right: 240px;
  width: 200px;
  height: 36px;
}

.socials__item {
  display: inline-block;
  margin-right: 6px;
  margin-left: 0px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item:last-child {
  margin-right: 0;
}
