ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
  list-style: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-top: 0px;
}

.wrapper {
  background-color: black;
  background: url('./img/фон.jpg');
}

.container {
  width: 1143px;
  margin: 0 auto;
}



.header {
  position: relative;
  min-height: 123.36px;
  margin-bottom: 74px;
}

.logo {
  display: inline-block;
  margin-top: 26px;
  margin-right: 75px;
}

.menu {
  display: inline-block;
}

.menu__list {
  position: relative;
  top: -8px;
}


.menu__item {  
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;  
  display: inline-block;
}

.contacts {
  position: absolute;
  right: 0px;
}


.contacts__tel {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color:#FFFFFF;
  text-decoration: none;
  position: relative;
  top: 13px;
  right: 0px;
}

.contacts__graph {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
  position: relative;
  top: 7px;
  left: 92px;
}

.preview {
  width: 511px;
  margin-bottom: 249px;
}

.preview__title {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 98px;
  vertical-align: bottom;
  color: #FFFFFF;
  margin-bottom: 27.5px; 
}

.preview__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 17px;
  color:#FFFFFF;
  margin-bottom: 33.5px; 
}

.preview__button {
  width: 168px;
  height: 55px;
  background: #F5170E;
  border-radius: 35px;
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  border: none;
}

.features {
  width: 1142px;
  margin-bottom: 128px;
}


.features__title {
  font-family: Open Sans, sans-serif;
  font-style: normal; 
  font-weight: bold;
  font-size: 39px;
  line-height: 48px; 
  display: inline;
  color: #FFFFFF;
  margin-bottom: 51px;
}

.features__title::after {
  content: url(./img/flame.png);
  margin-left: 10px;
  margin-bottom: 51px;
}

.features__item {
  display: inline-block;
  width: 362px;
  height: 449px;
  margin-right: 22px;
  margin-top: 51px;
  background-color: #FFFFFF;
  border-radius: 1px;
  border-radius: 7px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__img {
  width: 362px;
  height: 144px;
  margin-bottom: 33px;
}

.features__subtitle {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #000000;
  margin-left: 22px;
  margin-bottom: 21px;
}

.features__option {
  margin-left: 27px;
  display: inline-block; 
}

.features__option-img {
  margin-right: 7px;
  display: inline-block; 
}

.features__option-test {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px; 
  color: #666666; 
  display: inline-block; 
  margin: 2px 34px 0px 6px;
  vertical-align: top;
}

 .features__text {
  margin: 19px 16px 0px 22px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #303030;
  width: 323px;
  align-items: center;
  margin-bottom: 14px;
 }

 .features__button {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #F5170E;
  width: 135px;
  height: 55px;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  background-color:#FFFFFF;
  margin-left: 24px;
  margin-top: 10px;
  transition: .3s;
}

.features__button:hover {
  background-color: #F5170E;
  color: #FFFFFF;
}

.news {
  width: 1150px;
  margin-bottom: 145px;
}

.news__title {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 39px;
  line-height: 47px;
  color: #FFFFFF;
  margin-bottom: 51px;
}

.news__list {
  display: inline-block;
  margin-bottom: 49px;
}

.news__item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  width: 557px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 2;
}

.news__content {
  position: absolute;
  left: 0;
  top: 229px;
  padding-left: 30px;
  min-height: 140px;
}


.news__date-month {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 22px;
}

.news__date-year {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 12.5px;
}

.news__subtitle {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  align-items: center;
  color:#FFFFFF;
  margin-bottom: 2.5px;
}

.news__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  align-items: center;
  color:#FFFFFF;
}

.paginator {
  text-align: center;
}

.paginator__display {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 10px;
  margin-top: 6px;
}


.paginator_display-current {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 1px;
}

.paginator__dispaly-all {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
}

.paginator__list {
  display: inline-block;
}

.paginator__item {
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 32px;
}

.paginator__item:first-child {
  margin-left: 25px;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;  
  align-items: center;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}

.paginator__link:hover {
  background:#FFFFFF;
  color: red;
}


.about {
  margin-bottom: 119px;
  width: 1141px;
}

.about__img {
  display: inline-block;
  border-radius: 5px;
  width: 490px;
}

.about__contant-block {
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: -140px;
  margin-top: 97px;
  position: relative;  
}


.about__background:hover {
  border-radius: 5px;
}


.about__title {  
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-top: -388px;
  margin-left: 81px;
  margin-bottom: 37px;
  position: relative;
}

.about__text p {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  color: #000000;
  margin-left: 81px;
  margin-right: 202px;
  margin-bottom: 70px;
  width: 502px;
}

.about__button {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 165px;
  height: 55px;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  background-color:#F5170E;
  margin-left: 81px;
}


.footer {
  width: 1142px;
  margin: 0 auto;
  margin-bottom: 58px;
  display: inline-block;
  position: relative;
}

.socials {
  width: 200px;
  display: inline-block;
  position: relative;
  left: 272px;
  top: 4px;
}

.socials__item {
  display: inline-block;
  margin-right: 6px;
  margin-left: 0px;
}

.socials__link {
  display: inline-block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item:last-child {
  margin-right: 0;
}

.contacts__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-size: 12px;
  Line-height: 20px;
  vertical-align: middle;
  color: red;
  position: relative;
  right: 176px;
  top: 7px;
}